body {
  background-color: white !important;
}

#bookmarkListDeckAd, #bookmarkListDeckAdPlaceholder {
  display: none;
}

#content {
  #left_column, #bookmark_list {
    float: none;
    width: 100%;

    .tableViewCell {
      background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fcfcfc));

      &.selected {
        background: -webkit-gradient(linear, left top, left bottom, from(#FFFBCC), to(#FFFBCC));
      }
    }
  }

  #right_column {
    float: none;
    position: fixed;
    overflow: scroll;
    top: 0;
    right: -240px;
    width: 200px;
    height: 100%;
    padding: 0 30px;
  }
}

#chromepaper-help {
  position: absolute;
  top: 0;
  width: 100%;
  font-family: "Monospace";
  font-size: 1.1em;

  .inner {
    color: white;
    background: rgba(0, 0, 0, .8);
    padding: 20px;
    display: table;
    margin: 40px auto;
    border-radius: 5px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      span {
        display: inline-block;
        text-align: right;
        color: yellow;
        width: 35px;
        padding-right: 7px;
      }
    }
  }
}
