body {
  background-color: #fcfcfc !important;
}

#bookmarkListDeckAd { 
  top: 25px !important;
  left: 50px !important;
  display: none;
}

a {
  color: #333 !important;

  &.actionButton {
    color: #777 !important;
    border-color: #777 !important;
  }

  &.bookmarklet {
    color: white !important;
  }
}

#content {
  #left_column, #bookmark_list {
    float: none;
    width: 100%;

    .tableViewCell {
      background: -webkit-gradient(linear, left top, left bottom, from(lighten(#fafafa, 4)), to(#fafafa));

      &.selected {
        background: -webkit-gradient(linear, left top, left bottom, from(lighten(#FFFBCC, 3)), to(lighten(#FFFBCC, 0)));
      }
    }
  }

  #right_column {
    float: none;
    position: fixed;
    overflow: scroll;
    top: 0;
    right: -240px;
    width: 200px;
    height: 100%;
    padding-left: 50px;
    padding-right: 30px;
    overflow-x: hidden;

    &.open {
      background: #fafafa;
      border-left: 1px solid #ccc;
    }
  }
}

#chromepaper-help {
  position: absolute;
  top: 0;
  width: 100%;
  font-family: "Monospace";
  font-size: 1.1em;

  .inner {
    color: white;
    background: rgba(0, 0, 0, .8);
    padding: 20px;
    display: table;
    margin: 40px auto;
    border-radius: 5px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      span {
        display: inline-block;
        text-align: right;
        color: yellow;
        width: 65px;
        padding-right: 7px;
      }
    }
  }
}
