body {
  background-color: white !important;
}

#bookmarkListDeckAd, #bookmarkListDeckAdPlaceholder {
  display: none;
}

#content {
  #left_column, #bookmark_list {
    float: none;
    width: 100%;

    .tableViewCell {
      background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fcfcfc));

      &.selected {
        background: -webkit-gradient(linear, left top, left bottom, from(#FFFBCC), to(#FFFBCC));
      }
    }
  }

  #right_column {
    float: none;
    position: fixed;
    overflow: scroll;
    top: 0;
    right: -240px;
    width: 200px;
    height: 100%;
    padding: 0 30px;
  }
}

